@model IEnumerable<ELDNET.Models.LockerRequest>

@{
    ViewData["Title"] = "Locker Request List";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Locker Request List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="LockerRequest" asp-action="Create" class="btn btn-primary">
                + New Locker Request
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID Number</th>
                <th>Locker Number</th>
                <th>Semester</th>
                <th>Contact Number</th>
                <th>Status</th>
                <th>Study Load</th>
                <th>Registration Form</th>
                <th>Accepted Terms</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.IdNumber</td>
                    <td>@item.LockerNumber</td>
                    <td>@item.Semester</td>
                    <td>@item.ContactNumber</td>
                    <td>@item.Status<td>
                        @if (!string.IsNullOrEmpty(item.StudyLoadPath))
                        {
                            <a href="@item.StudyLoadPath" target="_blank">View</a>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.RegistrationPath))
                        {
                            <a href="@item.RegistrationPath" target="_blank">View</a>
                        }
                    </td>
                    <td>@(item.AcceptTerms ? "Yes" : "No")</td>
                    <td>
                        <div class="w-20 btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id">&nbsp;Edit&nbsp;</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">&nbsp;Details&nbsp;</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">&nbsp;Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
