@model IEnumerable<ELDNET.Models.ReservationRoom>

@{
    ViewData["Title"] = "Reservation Room List";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reservation Room List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ReservationRoom" asp-action="Create" class="btn btn-primary">+ Create New Reservation</a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Activity Title</th>
                <th>Date</th>
                <th>Speaker</th>
                <th>Venue</th>
                <th>Purpose & Objective</th>
                <th>Date Needed</th>
                <th>Time From</th>
                <th>Time To</th>
                <th>Participants</th>
                <th>Equipment / Facilities</th>
                <th>Nature of Activity</th>
                <th>Source of Funds</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrganizationName</td>
                    <td>@item.ActivityTitle</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Speaker</td>
                    <td>@item.Venue</td>
                    <td>@item.PurposeObjective</td>
                    <td>@item.DateNeeded.("yyyy-MM-dd")</td>
                    <td>@item.TimeFrom</td>
                    <td>@item.TimeTo</td>
                    <td>@item.Participants</td>
                    <td>@item.EquipmentFacilities</td>
                    <td>@item.NatureOfActivity</td>
                    <td>@item.SourceOfFunds</td>
                    <td>
                        <div class="w-20 btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id">&nbsp;Edit&nbsp; </a>|
                            <a asp-action="Details" asp-route-id="@item.Id">&nbsp;Details&nbsp;</a>|
                            <a asp-action="Delete" asp-route-id="@item.Id">&nbsp;Delete</a>
                        </div>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
